:root {
  --text-logo: 800 20px/16px 'Noto Sans', sans-serif;
  --text-label: 500 12px/15px 'Noto Sans', sans-serif;
  --text-heading: 700 24px/100% 'Noto Sans KR', sans-serif;
  --text-subheading: 700 16px/16px 'Noto Sans', sans-serif;
  --text-button: 700 15px/100% 'Noto Sans KR', sans-serif;
}
